extends ../layouts/basic.pug

block content
  p Bonjour #{name},

  p Suite à mon appel, je me permets de vous indiquer la procédure afin de résilier votre cotisation à l'association Le Média TV.

  p Il faut nous faire parvenir une lettre simple à l'adresse suivante : Le Media TV - 94 rue des Sorins - 93100 Montreuil.

  p Ce courrier doit nous parvenir avant le 23 du mois afin que nous puissions traiter votre demande et suspendre à temps votre prélèvement automatique.

  p En vous remerciant de votre compréhension.

  p Bien à vous,

  p L'équipe support du Média
