extends ../layouts/basic.pug

block content
  p Bonjour #{name},

  p Suite à mon appel, j'ai bien pris note de votre demande de résiliation.

  p Celle-ci s'effectue normalement par voie postale, mais je peux procéder à une résiliation plus rapide. Pour cela, pouvez-vous me confirmer votre volonté de résilier par retour de mail ? 

  p Au nom de toute l'équipe du Média TV, merci de nous avoir soutenus.

  p Bien à vous,

  p L'équipe support du Média
