extends ../layouts/basic.pug

block content
  p Bonjour #{name},

  p Suite à mon appel, je prends note de votre souhait de changer de moyen de paiement pour continuer à soutenir Le MédiaTV.

  p Nous pouvons vous proposer de régler par virement bancaire. Il faudra juste indiquer votre nom et prénom ou votre adresse e-mail dans l'ordre de virement afin que nous puissions créditer votre compte utilisateur de votre cotisation. Nos coordonnées bancaires sont disponibles dans le RIB en fichier-joint.

  p Vous pouvez également cotiser annuellement par chèque et l'envoyer à l'ordre « Association Le Média » et à l'adresse :

  p Le Média, 94 rue des Sorins - 93100 Montreuil

  p Enfin, au nom de toute l'équipe du Média, nous vous adressons nos sincères remerciements pour votre soutien.

  p Nous nous tenons à votre disposition par mail pour tout complément d'information

  p #{signature}
