head
  style.
    @import url("http://ressources.lemediatv.fr/geomanist/stylesheet.css");

    * {
      font-family: Geomanist, sans-serif;
    }

    img {
      display: block;
      margin: 45px auto;
      width: 50%;
    }

    h1 {
      font-size: 1.2em;
      margin-bottom: 45px;
      text-align: center;
      text-transform: uppercase;
    }

    #container {
      margin: 0 30px 60px;
    }

    a {
      color: #551acc;
    }

img(src="http://ressources.lemediatv.fr/logo-noir.png")

h1 #{title}

#container
  block content

